@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "IntegralCF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ABSans";
  src: url("../assets/fonts/Absans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AenikPro";
  src: url("../assets/fonts/AeonikProTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    49deg,
    hsla(0, 0%, 100%, 1) 0%,
    rgb(255, 12, 12) 100%
  );
  scroll-behavior: smooth;
  /* Optional: adjust the background gradient here */
}

html {
  /* Hide scrollbar for a cleaner look */
  ::-webkit-scrollbar {
    display: none;
  }
  background-color: white; /* Fallback color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-gradient {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 7%,
    hsla(0, 0%, 13%, 1) 100%
  );
}

.custom-gradient-white {
  background: linear-gradient(
        49deg,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(0, 0%, 85%, 1) 100%
      )
      top,
    linear-gradient(49deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 85%, 1) 100%)
      bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.hover-effect {
  transition: border-radius 0.3s ease;
}

.hover-effect:hover {
  border-radius: 50px; /* Adjust as needed */
}
